body {
  text-align:center;
  background-color:#D7D7D7;
  font-family: sans-serif;
  margin: 0px;
}
#header {
  background: linear-gradient(to right,#1E1E1E,#444444);
  color:white;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px black;
  padding-top: 2px;
  padding-bottom: 2px;
}
#navbar {
  background: linear-gradient(to right,#1E1E1E,#444444);
  color: white;
  padding: 0px;
  list-style-type: none;
  width: 100%;
  margin: 0px;
}
#navbar li {
  display: inline-block;
}
#navbar a:hover {
  background-color: #330033;
  transition: 0.5s;
  padding: 15px;
}
#navbar a {
  text-shadow: 1px 1px black;
  padding: 15px;
  text-decoration: none;
  color: white;
  display:block;
}
#footer {
  background: linear-gradient(to left,#1E1E1E,#444444);
  color:white;
  margin: 0px;
  list-style-type:none;
  font-size:70%;
  clear:both;
  padding: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 5px 20px 5px black;
}

#console {
  color: black;
  list-style-type: none;
  background-color: #D7D7D7;
  max-width:85%;
  margin: auto;
  height: 1000px;
  padding: 10px;
  margin-top: 30px;

}
#consolea {
  color: black;
  list-style-type: none;
  background-color: #D7D7D7;
  width:90%;
  min-height: 1000px;
  margin-top: 30px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  min-width: 250px;
  max-width: 1300px;
}

#post {
text-align:left;
border:2px solid black; 
margin-bottom: 20px;
}
#post {
padding: 10px;
}
#post img {
width:40%;
min-width:230px;
image-orientation: from-image;
}
#post video {
width:40%;
min-width:230px;

}
