<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= @item[:title] %> - Sydney Dykstra's Website</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
  <div id="header">
    <h2>Sydney Dykstra</h2>
  </div>

  <ul id="navbar">
    <li> <a href="/index.html">Home</a>
    </li>
    <li><a href="/blog/index.html">Blog</a>
    </li>
    <li> <a href="https://pjuu.com/sydney">Pjuu</a>
    </li>
    <li><a href="https://github.com/sydneyjd/">Github</a>
    </li>
    <li><a href="https://upload.sydev.us/">Files</a>
    </li>
    <li><a href="https://homeserver.sydev.us/">HomeServer</a>
    </li>
  </ul>
  <div id="main">
    <div id="consolea">
    <%= yield %>
  </div>
  </div>
    <div id="footer">
      <p> &copy; 2016-2020 Sydney Dykstra</p>
    </div>
  </body>
  </html>
